/* Reset default browser CSS.
-------------------------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	outline:0;
}
table {font:Arial, Helvetica, sans-serif; font-size:10px;}
h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-weight: normal;
}
ul {
	list-style-type: none;
}
ol {
	margin-left:24px;
}
blockquote {
	quotes: none;
}
del {
	text-decoration: line-through;
}
a{ text-decoration:none; color:#19a8ed;}
a:hover{color:#0674a9;}
a img { border: none;}
:focus{ outline:none;}
::-moz-focus-inner {border:0;}
textarea{resize:none;}
input, textarea, select{ margin:0; padding:0; font-family:Arial, Helvetica, sans-serif; font-size:12px;}



body {
	background:#FFF;
	line-height: 18px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	min-width:1020px;
	color:#535353;
}

.clear{ clear:both; display:block;}

.column{ width:1000px; margin:0 auto;}
.column .column_one_third{ position:relative; float:left; width:300px; padding:0 0 0 56px;}
.column .column_two_third{ position:relative; float:left; width:630px; padding:0 0 0 0;}


hr{ margin-top:10px; margin-bottom:10px; height:1px; border:none; border-top:solid 1px #CECECE; border-bottom:solid 1px #FFF;}

/*--------Header Strip--------*/

#header_strip{ display:none; background:#1c1c1c; border-bottom:solid 1px #393939; color:#7b7b7b; padding:6px 4px;}
#header_strip .hs_left{ position:relative; float:left; font-size:11px; line-height:23px;}
#header_strip .hs_left a{ color:#989898; text-decoration:underline;}
#header_strip .hs_left a:hover{ color:#b5b4b4;}
#header_strip .hs_left a.yellow{ color:#dcb20d;}
#header_strip .hs_left a.yellow:hover{ color:#edd931;}
#header_strip .btn_continue{ background:#ffd738 url(../images/btn_continue.gif) 0 0; color:#4c0000; width:57px; height:23px; line-height:23px; position:relative; float:right; padding:0 22px 0 8px; text-align:center; font-weight:bold; text-shadow:0 1px 0 #fff69c;}
#header_strip .btn_continue:hover{ background:#ffea08 url(../images/btn_continue.gif) 0 100%;}




/*--------Header--------*/

#header{ background:#2b2b2b url(../images/bg_menu_pan.gif) 0 100% repeat-x;  padding:3px 0; border-bottom:solid 1px #434343; }
#header .main_logo{ background:url(../images/logo.png); width:73px; height:73px; display:block; position:relative; float:left;}

.main_menu{ position:relative; float:right; padding-top:18px;}
.main_menu li{ position:relative; float:left; margin-left:8px;}
.main_menu li a{ color:#ffcc00; padding:0 13px 2px; line-height:25px; display:block; margin-top:1px; -webkit-border-radius: 5px; border-radius: 5px; font-family:Arial, Helvetica, sans-serif; font-size:13px; font-weight:bold;}
.main_menu li a:hover{ background:#1b1b1b; border-top:solid 1px #000000; border-bottom:solid 1px #3a3a3a; margin-top:0;}
.main_menu li a.active{ background:#0a0a0a; border-top:solid 1px #000000; border-bottom:solid 1px #3a3a3a; margin-top:0; color:#989690;}




/*--------Grey Pan--------*/

#grey_pan{ background:#f7f7f7 url(../images/grey_pan_bg.gif) 0 0 repeat-x; height:auto; border-top:solid 1px #ededed; border-bottom:solid 1px #e4e4e4; padding:48px 0 0 0;}
#grey_pan.gp_padding_bottom{ padding-bottom:5px; padding-top:15px;}



/*--------Footer--------*/
#footer{ background:#111111 url(../images/footer_shadow.gif) center 0 no-repeat; border-top:solid 4px #222222; color:#9a9a9a; padding:38px 0 10px;}
#footer .column_one_third{ position:relative; float:left; width:300px; padding:0 28px 0 5px;}
#footer .column_two_third{ position:relative; float:left; width:630px; padding:0 28px 0 5px;}

.f_widget{ display:block; padding-bottom:20px;}
.f_widget h3{ font-size:22px; line-height:24px; font-family:delicious_heavy, Arial, Helvetica, sans-serif; font-weight:bold; color:#ffb901; text-shadow:0 1px 2px #0f0f0f; padding-bottom:10px;}
.f_widget h4{ font-size:16px; line-height:18px; font-family:delicious_heavy, Arial, Helvetica, sans-serif; font-weight:bold; color:#ffb901; text-shadow:0 1px 2px #0f0f0f; padding-bottom:10px;}
.f_widget p{ padding:0 0 8px 0; font-size:13px; line-height:17px;}
.f_widget ul li{ background:url(../images/bullet_footer.gif) 0 7px no-repeat; padding:2px 0 2px 15px; line-height:16px; font-size:12px;}
.f_widget a{ color:#b7b7b7;}
.f_widget a:hover{ color:#ffb901;}

.sm_icons{ display:block;}
.sm_icons a{ height:26px; width:25px; background:url(../images/sm_icons.gif); display:block; position:relative; float:left; margin-right:6px;}
.sm_icons a.facebook{ background-position:-75px 0;}
.sm_icons a.facebook:hover{ background-position:-75px 100%;}
.sm_icons a.twitter{ background-position:0 0;}
.sm_icons a.twitter:hover{ background-position:0 100%;}
.sm_icons a.google_plus{ background-position:-50px 0;}
.sm_icons a.google_plus:hover{ background-position:-50px 100%;}
.sm_icons a.skype{ background-position:-25px 0;}
.sm_icons a.skype:hover{ background-position:-25px 100%;}
.sm_icons a.linked_in{ background-position:-100px 0;}
.sm_icons a.linked_in:hover{ background-position:-100px 100%;}

/*--------Copy Right--------*/
#copyright{ background:#080808 url(../images/copy_right_bg.gif) 0 0 repeat-x; padding:15px 0;}
#copyright .cr_left{ position:relative; float:left; color:#5e5d55; font-size:12px; font-family:Arial, Helvetica, sans-serif; line-height:16px; padding-left:5px;}
#copyright .cr_right{ position:relative; float:right; color:#8a857e; font-size:12px; font-family:Arial, Helvetica, sans-serif; line-height:16px; padding-right:5px;}
#copyright .cr_right a{ color:#ffb901;}
#copyright .cr_right a:hover{ color:#ffea01;}


/*--------Content--------*/
#content{ height:auto; display:block; padding:30px 0;}




/*--------Text Content--------*/
.text_content{ display:block;}
.text_content hr{ border:none; border-bottom:solid 1px #fcfcfc; border-top:solid 1px #dedede; margin:15px 0;}
.text_content h1{ font-family:delicious_heavy, Arial, Helvetica, sans-serif; font-weight:bold; font-size:28px; line-height:28px; padding-bottom:8px; padding-left:19px; color:#2f2f2f;}
.text_content h2{ font-family:delicious_heavy, Arial, Helvetica, sans-serif; font-weight:bold; font-size:24px; line-height:24px; padding-bottom:8px; color:#535353;}
.text_content p{ font-family:Arial, Helvetica, sans-serif; padding-bottom:6px;}




.form_structure{ display:block;  margin-left:120px;}
.form_structure li{ display:block; margin-bottom:12px; height:auto; float:left; width:100%;}
.form_structure li.half{ display:block; margin-bottom:10px; height:auto; width:50%;}
.form_structure li .fs_label{  width:180px; text-align:right;    padding:4px 0 0 0; line-height:15px; font-size:12px; color:#000;}



.form_structure li label.error{ color:#FFF; margin-left:10px; margin-top:3px; background:#ee2c2c; font-size:12px; line-height:20px; display:inline-block; padding:0 8px;-webkit-border-radius: 3px; border-radius: 3px; position:relative;}
.form_structure li label.error:before{ position:absolute; height:0; width:0; display:block; content:''; left:-4px; top:50%; margin-top:-4px; border-color:transparent #ee2c2c; border-style:solid; border-width:4px 4px 4px 0;}
.form_structure li .check_box{position:relative; float:left; margin-top:6px; }
.form_structure li label.cb_label{ position:relative; float:left; padding:0 8px; display:inline-block; line-height:26px;}
.form_structure li .fs_label span{ font-size:10px; display:block; line-height:10px; padding-right:6px;}
.form_structure li .text_box{-webkit-border-radius: 3px; border-radius: 3px; border-top:solid 1px #b8b8b8; border-right:solid 1px #cfcfcf; border-bottom:solid 1px #e0e0e0; border-left:solid 1px #c9c9c9; background:#fcfcfc url(../images/form_fields_bg.gif) 0 0 repeat-x; padding:2px 4px; width:220px; height:20px; color:#666; position:relative; float:left;}
.form_structure li .text_box:focus{ border-top:solid 1px #aeaeae; border-right:solid 1px #bcbcbc; border-bottom:solid 1px #d3d3d3; border-left:solid 1px #bcbcbc;}
.form_structure li .text_box.error{border:solid 1px #FF6161; background:#FFF2F2 url(../images/form_fields_bg_error.gif) 0 0 repeat-x;}
.form_structure li .select_box{-webkit-border-radius: 3px; border-radius: 3px; border-top:solid 1px #b8b8b8; border-right:solid 1px #cfcfcf; border-bottom:solid 1px #e0e0e0; border-left:solid 1px #c9c9c9; background:#fcfcfc url(../images/form_fields_bg.gif) 0 0 repeat-x; padding:2px 4px; width:220px; height:20px; color:#666; position:relative; float:left;}
.form_structure li .text_area{-webkit-border-radius: 3px; border-radius: 3px; border-top:solid 1px #b8b8b8; border-right:solid 1px #cfcfcf; border-bottom:solid 1px #e0e0e0; border-left:solid 1px #c9c9c9; background:#fcfcfc url(../images/form_fields_bg.gif) 0 0 repeat-x; padding:5px 4px; width:380px; height:80px; color:#666; position:relative; float:left;}
.form_structure li .text_area:focus{ border-top:solid 1px #aeaeae; border-right:solid 1px #bcbcbc; border-bottom:solid 1px #d3d3d3; border-left:solid 1px #bcbcbc;}
.form_structure li .text_area.error{ border:solid 1px #FF6161; background:#FFF2F2 url(../images/form_fields_bg_error.gif) 0 0 repeat-x;}

.form_structure li .add_keyword_button{ background:url(../images/btn_continue1.gif) 0 0; color:#4c0000; width:86px; height:23px; line-height:23px; position:relative; padding:0 22px 0 8px; font-weight:bold; text-shadow:0 1px 0 #fff69c; border:none;}
.form_structure li .add_keyword_button:hover, .form_structure li .btn_continue.hover{background:url(../images/btn_continue1.gif) 0 100%;}

.form_structure li .remove_keyword_button{ background:url(../images/btn_continue1.gif) 0 0; color:#4c0000; width:86px; height:23px; line-height:23px; position:relative; padding:0 22px 0 8px; font-weight:bold; text-shadow:0 1px 0 #fff69c; border:none;}
.form_structure li .remove_keyword_button:hover, .form_structure li .btn_continue.hover{background:url(../images/btn_continue1.gif) 0 100%;}

.form_structure li .btn_submit{ background:url(../images/btn_submit.png) 0 0; color:#4c0000; width:84px; height:36px; line-height:23px; position:relative; padding:0 22px 0 8px; font-weight:bold; text-shadow:0 1px 0 #fff69c; border:none;}
.form_structure li .btn_submit:hover, .form_structure li .btn_submit.hover{background:url(../images/btn_submit.png) 0 100%;}

.form_structure li .btn_update{ background:url(../images/btn_update.png) 0 0; color:#4c0000; width:85px; height:36px; line-height:23px; position:relative; padding:0 22px 0 8px; font-weight:bold; text-shadow:0 1px 0 #fff69c; border:none;}
.form_structure li .btn_update:hover, .form_structure li .btn_update.hover{background:url(../images/btn_update.png) 0 100%;}









.ty_message{ padding:50px; margin:10px 0 50px; border:solid 1px #CCC; background:#FFF; text-align:left; position:relative;}
.ty_message h1{ font-family:delicious_heavy, Arial, Helvetica, sans-serif; font-size:30px; line-height:34px; color:#666;}
.ty_message p{ font-size:13px;}
.ty_message .print_invoice{ position:absolute; left:358px; top:54px;}
.ty_message table{ width:100%; border-top:solid 1px #FFF; border-left:solid 1px #FFF; }
.ty_message table td{ padding:2px 5px; font-size:13px; border-bottom:solid 1px #FFF; border-right:solid 1px #FFF;}
.ty_message table td.t_headeing{ font-weight:bold;}
.ty_message table td.t_grey{ padding:3px 5px; background:#e1e1e1; font-weight:bold;}
.ty_message table td.t_dgrey{ padding:3px 5px; background:#cdcdcd; font-weight:bold;}



.ty_error{ color:#d50000; background:#ffe0e0 url(../images/msg_cross.png) 10px center no-repeat; font-size:13px; width:150px; border:solid 1px #ff0000;  padding:8px 8px 8px 40px;}
.ty_success{ color:#1f7800; background:#e2fae0 url() 10px center no-repeat; font-size:13px; color:#000; width:400px; border:solid 1px #34c700; margin:10px 0 30px 0; padding:8px 8px 8px 5px;}
.keyword_count {}

